{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "semi": true,
  "experimentalTernaries": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false,
  "proseWrap": "always",
  "insertPragma": false,
  "printWidth": 90,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "ast": false,
  "doc": false,
  "jsxBracketSameLine": false,
  "output2": false,
  "htmlWhitespaceSensitivity": "ignore",
"bracketSameLine": true
}