@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.cdnfonts.com/css/tt-lakes-neue-trial");
body {
  font-family: "TT Lakes Neue Trial";
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.header {
  font-weight: bold;
  font-size: large;
}

h1 {
  text-align: center;
  line-height: 1.2;
}
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
.active-dynamic {
  background-color: rgba(82,82,82,0.6);
  -webkit-backdrop-filter: blur(3px) saturate(100%);
  backdrop-filter: blur(3px) saturate(100%);
  border: 1px;
  border-style: solid;
  border-color: rgba(255,255,255, 0.4);

}
.dynamic {
  opacity: 0 !important;
}
#tsparticles {
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  pointer-events: none;
}

@keyframes shine {
  0% {
    opacity: 0.25;
    transform: translateX(-100%) rotate(45deg); 
  }

  10% {
    opacity: 0.25;
    transform: translateX(100%) rotate(45deg); 
  }
  100% {
    opacity: 0;
    transform: translateX(1000%) rotate(45deg);
  }
}

.animate-shine {
  animation: shine 10s infinite ease-in-out;
}
.background-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw; /* Šířka obrazovky */
  height: 100vh; /* Výška obrazovky */
  border-radius: 50%; /* Vytvoří kruh */
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%);
  opacity: 0.7; /* Průhlednost gradientu */
  z-index: -1; /* Posunutí pod obsah */
}
