@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.cdnfonts.com/css/tt-lakes-neue-trial");
body {
  font-family: "TT Lakes Neue Trial";
}
.header {
  font-weight: bold;
  font-size: large;
}

h1 {
  text-align: center;
  line-height: 1.2;
}
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
