---
import HTML from '../elements/HTML.astro';
import '../styles/global.css';
import { SEO, type Props as SEOProps } from 'astro-seo';
const { seo } = Astro.props;
interface Props {
  seo?: SEOProps;
}
---

<HTML
  seo={{
    title: '404 Page not found',
    description: '404 page for site bartyspacelabs.netlify.app',
  }}
>
  <section
    class="bg-gradient-to-b from-sky-600 from-40% to-indigo-950 flex items-center justify-center h-screen"
  >
    <div class="container mx-auto">
      <div class="max-w-md mx-auto text-center top-1/2">
        <h1 class="text-6xl font-semibold text-white mb-16">404</h1>
        <p class="text-2xl font-light text-white mb-4">Page not found</p>
        <p class="mb-4 text-white">
          We're sorry, but the page you're trying to view doesn't exist or has
          been moved.
        </p>
        <div class="flex justify-center items-center pt-8">
          <button
            type="button"
            class="relative flex transform-gpu items-center justify-center overflow-hidden rounded-full border-2 px-6 py-3 font-bold text-white transition-transform hover:animate-jump"
          >
            <span class="relative z-10"><a href="/">Back to main page</a></span>
            <span class="absolute inset-0 overflow-hidden">
              <span
                class="animate-shine to-transpatent absolute left-0 top-0 h-8 w-full bg-gradient-to-t from-transparent via-white opacity-0"
              ></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </section>
</HTML>
