---
import '../styles/global.css'
---

<footer class="dark:bg-gray-900 bg-gray-900">
	<div class="container mx-auto flex flex-col items-center justify-between py-8 lg:flex-row">
		<div class="mt-6 flex gap-4 lg:mt-0 lg:gap-6">
			<a
				href="#main"
				class="dark:text-gray-200 dark:hover:text-blue-400 text-sm text-gray-400 transition-colors duration-300 hover:text-blue-500"
			>
				Domů
			</a>

			<a
				href="#about"
				class="dark:text-gray-200 dark:hover:text-blue-400 text-sm text-gray-400 transition-colors duration-300 hover:text-blue-500"
			>
				O mně
			</a>

			<a
				href="#projects"
				class="dark:text-gray-200 dark:hover:text-blue-400 text-sm text-gray-400 transition-colors duration-300 hover:text-blue-500"
			>
				Projekty
			</a>
			<a
				href="#contacts"
				class="dark:text-gray-200 dark:hover:text-blue-400 text-sm text-gray-400 transition-colors duration-300 hover:text-blue-500"
			>
				Kontakt
			</a>
		</div>

		<p class="dark:text-gray-400 mt-6 text-sm text-gray-300 lg:mt-0">© Copyright 2024 Bartyspace Labs.</p>
	</div>	
</footer>
