---
import GoogleTag from '../components/GoogleAnalytics.astro';
import { SEO, type Props as SEOProps } from 'astro-seo';
const { seo } = Astro.props;
interface Props {
  seo?: SEOProps;
}
---

<html lang="en">
  <head>
    <GoogleTag />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <meta name="seznam-wmt" content="CApBbnWExmkOAPmDOumg75aMKF2x3FMl" />
    <SEO {...seo} title={seo?.title ?? ''} description={seo?.description ?? ''} />
  </head>
  <body>
    <slot />
  </body>
</html>
