---
import '../styles/global.css'
---

<button
	type="button"
	class="relative flex transform-gpu items-center justify-center overflow-hidden rounded-full border-2 px-4 py-1 font-bold text-white transition-transform hover:animate-jump max-lg:hidden md:flex lg:py-1.5 lg:text-lg"
>
	<span class="relative z-10"><a href="#contact">Hire me</a></span>
	<span class="absolute inset-0 overflow-hidden">
		<span class="animate-shine to-transpatent absolute left-0 top-0 h-8 w-full bg-gradient-to-t from-transparent via-white opacity-0"></span>
	</span>
</button>
