---
const {name, icon} = Astro.props;
import {Icon} from 'astro-icon/components';
---

<div class="flex justify-center max-xl:text-sm">
  {
    icon && (
      <Icon
        class=" mr-2 mt-1 text-xl"
        name={icon}
      />
    )
  }
  <p>{name}</p>
</div>
