<section
id="landing-page"
class="bg-gradient-to-b to-indigo-600 from-violet-800 animate-fade animate-once animate-duration-700 animate-ease-in"
>
<div  class="relative z-10 w-full bg-neutrals-900">
  <div
    class="sticky flex container h-screen flex-col justify-center items-start ml-20 py-28"
  >
    <h1
      class="flex justify-center text-7xl max-md:text-5xl text-white text-start"
    >
      Hi,<br />I'm Bartyspace<br />
      web designer
    </h1>
  </div>
</div>
</section>
