---
import {Image} from 'astro:assets';
import favicon from '../assets/favicon.svg';
import grid from '../assets/GridBackground.png';
---

<section
  id="domu"
  style="background: linear-gradient(to bottom, #0369a1 40%, #1e1b4b 100%) !important;"
  class="relative flex h-screen w-screen items-center justify-center">
  <div class="background-circle"></div>
  <div
    id="gridmove"
    class="absolute flex items-center justify-center">
    <Image
      loading={'eager'}
      fetchpriority={'high'}
      src={grid}
      class="border-t-4 z-5 h-screen border-b-4 flex border-white border-opacity-20 w-screen object-cover 2xl:scale-x-125 xl:border-b-[5px] xl:border-t-[5px] opacity-30 mix-blend-overlay"
      alt="Grid background"
    />
  </div>
  <Image
    loading={'eager'}
    fetchpriority={'high'}
    src={favicon}
    class="z-20 max-sm:hidden flex absolute -left-64 -top-16 overflow-hidden"
    alt="Bartyspace wolf"
  />

  <div class="z-20 flex flex-col items-start justify-center py-28">
    <h1
      class="text-center text-8xl font-bold text-white max-lg:text-5xl container leading-snug">
      Designové webové stránky<br />
      které<br />
      <span class="text-raspberry-500">nezapadnou</span><br />
    </h1>
  </div>
</section>
