---
import { Image } from 'astro:assets'
import favicon from '../../public/favicon.svg'
import GridBg from '../../public/GridBg.png'
import '../styles/global.css'
---

<section
	id="main"
	class="flex h-screen w-screen animate-fade-down items-center justify-center bg-gradient-to-b from-sky-600 from-40% to-indigo-950 bg-no-repeat animate-ease-out"
>
	<Image loading={'eager'} src={GridBg} alt="Grid bg" />
	<div class="container absolute -left-64">
		<Image loading={'eager'} src={favicon} class="opacity-70" alt="BartyspaceLabs" />
	</div>

	<div class="flex flex-col items-start justify-center py-28">
		<h1 class="text-start text-7xl font-bold text-white max-md:text-5xl">
			Hi,<br />
			I'm <span class="font-extrabold">Bartyspace</span><br />
			a web designer
		</h1>
	</div>
</section>
