---
import { Image } from 'astro:assets'
import favicon from '../../public/favicon.svg'
import '../styles/global.css'
import grid from '../../public/GridBackground.png'
import { isCallChain } from 'typescript'
---

<script is:inline>
	document.addEventListener('DOMContentLoaded', () => {
		const gridMoveDiv = document.getElementById('gridmove')
		const screenWidth = window.innerWidth
		const screenHeight = window.innerHeight
		const divWidth = gridMoveDiv.offsetWidth
		const divHeight = gridMoveDiv.offsetHeight

		const horizontalOffset = (screenWidth - divWidth) / 10
		const verticalOffset = (screenHeight - divHeight) / 10

		gridMoveDiv.style.transform = `translate(${horizontalOffset}px, ${verticalOffset}px)`

		document.addEventListener('mousemove', (event) => {
			const xOffset = (event.clientX - screenWidth / 2) / screenWidth
			// Nastavíme yOffset na 0, aby nedocházelo k posunu vertikálně
			const yOffset = 0
			gridMoveDiv.style.transform = `translate(${horizontalOffset + xOffset * 20}px, ${verticalOffset + yOffset * 20}px)`
		})
	})
</script>

<section
	id="main"
	class="flex h-screen w-screen animate-fade-down items-center justify-center bg-gradient-to-b from-sky-600 from-40% to-indigo-950 animate-ease-out"
>
	<div class="background-circle"></div>
	<div id="gridmove" class="absolute flex items-center justify-center">
		<Image
			loading={'eager'}
			src={grid}
			class="z-0 max-h-screen w-screen scale-x-125 border-b-4 border-t-4 border-white border-opacity-30"
			alt="Grid background"
		/>
	</div>

	<div class="container absolute -left-64 z-10">
		<Image loading={'eager'} src={favicon} class="z-20 opacity-70" alt="Bartyspace wolf" />
	</div>

	<div class="z-20 flex flex-col items-start justify-center py-28">
		<h1 class="text-start text-7xl font-bold text-white max-md:text-5xl">
			Hi,<br />
			I'm <span class="font-extrabold">Bartyspace</span><br />
			a web designer
		</h1>
	</div>
</section>
