---
import '../styles/global.css'
---

<section id="projects" class="from-tranparent flex h-screen w-screen items-center justify-center bg-indigo-950 bg-no-repeat">
	<h2 class="container w-52 py-2 text-center text-3xl font-semibold text-white">My projects</h2>
</section>
