---
import Carousel from '../elements/Carousel.astro';
---

<section
  id="projekty"
  class="w-screen bg-indigo-950 lg:h-4/6 md:h-5/6">
  <h2 class="container w-52 pt-24 text-center text-3xl font-semibold text-white">
    Projekty
  </h2>
  <Carousel />
</section>

<div class="flex h-32 pb-20 w-screen items-center bg-indigo-950">
  <hr
    class="h-[2px] w-2/3 translate-x-1/4 border-none bg-gradient-to-r from-transparent via-gray-500 to-transparent"
  />
</div>
