---
import Image from 'astro/components/Image.astro'
import '../styles/global.css'
import Project1 from '../../public/352cb5.png'
---

<section id="projects" class="min-h-screen w-screen bg-indigo-950">
	<h2 class="container w-52 pt-6 text-center text-3xl font-semibold text-white">My projects</h2>
	<div class="flex flex-col items-center justify-center pt-24 xl:pt-56">
		<div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 sm:gap-x-10 lg:grid-cols-2 lg:gap-x-28 xl:grid-cols-4 xl:gap-x-14">
			<div class="max-w-72 rounded-lg border border-opacity-40 bg-transparent p-4">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="max-w-72 rounded-lg border bg-transparent p-4">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="max-w-72 rounded-lg border bg-transparent p-4">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
			<div class="max-w-72 rounded-lg border bg-transparent p-4">
				<Image src={Project1} alt="Placeholder Image" class="h-48 w-full rounded-md object-cover" />
				<div class="px-1 py-4">
					<div
						class="mb-2 bg-gradient-to-r from-emerald-400 via-emerald-300 to-emerald-400 bg-clip-text text-xl font-bold text-transparent"
					>
						Project title
					</div>
					<p class="text-base text-white">This is a simple project card example using Tailwind CSS.</p>
				</div>
				<div class="px-1 py-4">
					<a href="#" class="text-sky-400 hover:text-white">Look at me</a>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="flex h-32 w-screen items-center bg-indigo-950">
	<hr class="h-[2px] w-2/3 translate-x-1/4 border-none bg-gradient-to-r from-transparent via-gray-500 to-transparent" />
</div>
