---
import '../styles/global.css'
---

<section id="services" class="z-20 w-screen bg-indigo-950 bg-no-repeat lg:max-h-screen">
	<h2 class="container w-52 text-center text-3xl font-semibold text-white">Services</h2>
</section>
