---
import '../styles/global.css'
---

<section id="services" class="z-20 min-h-screen w-screen bg-indigo-950 bg-no-repeat">
	<h2 class="container w-52 text-center text-3xl font-semibold text-white">Services</h2>
</section>
