---
import RoundedButton from "../components/RoundedButton.astro";
import button from "../components/RoundedButton.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{title}</title>
  </head>
  <body>
    <div
      id="main"
      class="h-screen bg-gradient-to-b to-indigo-600 from-violet-800 animate-fade animate-once animate-duration-700 animate-ease-in"
    >
      <header class="max-[1024px]:container justify-center fixed top-10 w-full">
        <div
          class="grid grid-cols-3 items-center h-16 border-0 md:border-0 border-zinc-500 rounded-full mx-4 sm:mx-20 xl:mx-96 bg-zinc-700 bg-opacity-50 backdrop-blur-sm"
        >
          <nav class="flex justify-center">
            <a href="#about" class="mx-5 max-lg:hidden text-white">About</a>

            <a href="#projects" class="mx-5 max-lg:hidden text-white"
              >Projects</a
            >

            <a href="#services" class="mx-5 max-lg:hidden text-white"
              >Services</a
            >
          </nav>
          <div
            class="hover:animate-jump animate-ease-in-out animate-normal animate-fill-backwards"
          >
            <a href="#main" class="flex flex-grow justify-center">
              <img
                src="../../Bartyspace Labs transparet bg.svg"
                class=""
                alt="Bartyspace Logo"
              />
            </a>
          </div>
          <div class="flex justify-end pr-7">
            <a href="#contact">
              <RoundedButton></RoundedButton>
            </a>
          </div>
        </div>
      </header>
      <div class="">
        <h1 class="text-white text-center h-1/2">Web developer</h1>
      </div>
    </div>
  </body>
</html>
