---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="h-screen bg-gradient-to-b from-indigo-600 to-violet-800"></div>

        <nav class="flex flex-wrap w-screen content-center fixed h-20 top-6 border rounded-full z-40 border-indigo-400 "> 
         
              <div class="justify-start">
                <a href="#About" class=" mx-10 text-white hover:text-orange-400">About</a>
                <a href="#work" class=" mx-10 text-white hover:text-orange-400">My Work</a>
              </div>
              <div class="grow justify-center">
                <a href="#Bartyspace" title="Navigate home" class=" text-white hover:text-orange-400">
                  <img src="../../Untitled-3.png" class="h-10" alt="Bartyspace">
                </a>
              </div>
                <button class=" mx-10 text-white bg-transparent hover:bg-white hover:text-black">
                  Hit me up
                </button>
               
        </nav> 

      </body>
</html>
bg-gray-700 opacity-20 backdrop-blur