---
import ResponsiveNav from '@components/layout/ResponsiveNav.astro';
import Head from "@components/layout/Head.astro";
import LandingPage from "@sections/LandingPage.astro";
import GoogleAnalytics from "@components/GoogleAnalytics.astro";
import About from "@sections/About.astro";
import "@styles/global.css";
---

<Head title="Bartyspace">
  <GoogleAnalytics />
</Head>
<body class="scrollbar-stylized">
  <ResponsiveNav />

  <LandingPage />
  <About />
</body>
