---
import ResponsiveNav from "../components/layout/ResponsiveNav.astro";
import Head from "../components/layout/Head.astro";
import LandingPage from "../sections/LandingPage.astro";
import About from "../sections/About.astro";


---

<Head title="Bartyspace Labs" />


<body>
  <div id="main"></div>

  <ResponsiveNav />

  <LandingPage />
  <About />

</body>
</Head>