---
import ResponsiveNav from "@components/layout/ResponsiveNav.astro";
import Head from "@components/layout/Head.astro";
import LandingPage from "@sections/LandingPage.astro";

import About from "@sections/About.astro";
import "@styles/global.css";
---

<Head title="Bartyspace" />
<body>
  <div id="main"></div>
  <ResponsiveNav />

  <LandingPage />
  <About />
</body>
