---
import ResponsiveNav from '../components/layout/ResponsiveNav.astro'
import Head from '../components/layout/Head.astro'
import LandingPage from '../sections/Main.astro'
import About from '../sections/About.astro'
import Projects from '../sections/Projects.astro'
import Services from '../sections/Services.astro'
import '../styles/global.css'
---

<Head title="Bartyspace Labs" />
<body>
	<ResponsiveNav />
	<LandingPage />
	<About />
	<Projects />
	<Services />
</body>
