---
import ResponsiveNav from "../components/layout/ResponsiveNav.astro";
import Head from "../components/layout/Head.astro";
import LandingPage from "../sections/Main.astro";
import About from "../sections/About.astro";
import Projects from "../sections/Projects.astro";
import "../styles/global.css";
---

<Head title="Bartyspace Labs" />
<script is:inline>
  document.addEventListener("astro:before-preparation", (ev) => {
    const originalLoader = ev.loader;
    ev.loader = async function () {
      const { startSpinner } = await import("./spinner.js");
      const stop = startSpinner();
      await originalLoader();
      stop();
    };
  });
</script>
<body>
  <ResponsiveNav />
  <LandingPage />
  <About />
  <Projects />
</body>
