---
import ResponsiveNav from '@components/layout/ResponsiveNav.astro';
import Head from "@components/layout/Head.astro";
import LandingPage from "@sections/LandingPage.astro";

import About from "@sections/About.astro";
import "@styles/global.css";
---

<Head title="Bartyspace">
  
</Head>
<body class="scrollbar-stylized">
  <ResponsiveNav />

  <LandingPage />
  <About />
</body>
