---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="bg-gradient-to-b from-indigo-600 to-violet-800 h-screen ">
    <header class="fixed top-0 z-40 w-full">
        <nav class="bg-transparent fixed w-full border-b border-indigo-400 ">
          <div class="max-w-screen-xl flex flex-wrap justify-around mx-auto p-5">    
              <a href="#About" class="text-white hover:text-orange-400">About</a>
              <a href="#work" class="text-white hover:text-orange-400">My Work</a>
            <div class="flex items-center justify-center">
              <a href="#Bartyspace" title="Navigate home" class=" text-white hover:text-orange-400">
                <img src="../../Untitled-3.png" class="h-8" alt="Bartyspace">
              </a>
            </div>
            <button class=" text-white bg-transparent hover:bg-white hover:text-black">
              Hit me up
            </button>
        </nav> 

      </header> 
    </div>
    <h2 id="About">About</h2>
  </body>
</html>
